.item {
	margin-bottom: 2rem;
}

.link {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--primary);
	margin: 1rem 0;
}

.link:hover {
	opacity: 0.8;
}

.metadata {
	opacity: 0.6;
	margin: 1rem 0;
}

.description {
	margin: 1rem 0;
}
