.item {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: nowrap;
	grid-column: span 1 / span 1;
}

.item:hover {
	opacity: 0.9;
}

.avatar {
	border-radius: 9999px;
	object-fit: cover;
}

.metadata {
	display: grid;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	padding: 1.5rem 0;
}

.title {
	font-weight: 600;
	color: var(--color-primary);
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.description {
	opacity: 60;
	grid-row: span 2 / span 2;
}

.grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 1rem;
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
