footer {
	padding: 1rem 0;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.75rem 0;
	gap: 0.75rem;
	position: relative;
	bottom: 0;
}

.footer-secondary {
	opacity: 0.7;
}

.footer-link-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 2rem;
}

.footer-link {
	display: block;
}
