@tailwind base;
@tailwind components;
@tailwind utilities;

/* MathJax Compatible */
mjx-container > svg {
	display: inline !important;
}

/* medium-zoom Compatible */
.medium-zoom-overlay {
	@apply z-40 bg-black/30;
}
.medium-zoom-image--opened {
	@apply z-50;
}

.darkani,
li > a,
li > button {
	@apply text-black dark:text-gray-300/80;
	@apply transition-colors duration-500;
}

.prose * {
	@apply transition-colors duration-500;
}

.bg-color {
	@apply bg-white dark:bg-gray-950;
}

.text-color {
	@apply text-black dark:text-gray-300/80;
}

.ay-prose {
	@apply prose dark:prose-invert prose-ay break-all max-w-4xl;
}

.bg-blur {
	@apply bg-opacity-70 backdrop-blur-lg;
}

.loader {
	--d: 22px;
	@apply w-1 h-1 rounded-full text-primary;
	box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
		calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
		calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
		calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
		calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
		calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
		calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
	animation: loader-animation 1s infinite steps(8);
}
@keyframes loader-animation {
	100% {
		transform: rotate(1turn);
	}
}

.thumb {
	filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='$'%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 9 0'/%3E%3CfeComposite in2='SourceGraphic' operator='in'/%3E%3C/filter%3E%3C/svg%3E#$");
}
