header {
	background-color: var(--primary);
	background-image: var(--bg-img);
	height: calc(65lvh + 8rem);
	min-height: 30rem;
	background-size: cover;
	background-position: top;
	display: flex;
	flex-direction: column;
	z-index: 0;
}

header:is(.dark *) {
	background-image: var(--bg-img-dark);
}

.header-filter {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.header-filter:is(".dark *") {
	display: block;
}

.header-gradient {
	flex: none;
	height: 8rem;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent, var(--bg));
}

.header-title {
	font-size: 2.25rem;
	line-height: 1.5;
	font-weight: 700;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.header-description {
	font-size: 1rem;
	line-height: 1.5;
	filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	margin-top: 0.25rem;
}

.header-wrap {
	flex: 1 1 auto;
	position: relative;
}

.header-meta-wrap {
	position: absolute;
	left: 50%;
	bottom: 2.5rem;
	width: 100%;
	color: rgb(255 255 255 / 1);
	max-width: 56rem;
	padding: 0 1.25rem;
	z-index: 10;
	transform: translateX(-50%);
}

.header-meta-wrap:is(".dark *") {
	color: rgb(209 213 219 / 1);
}

@media (min-width: 768px) {
	.header-meta-wrap {
		padding: 0 1.5rem;
	}
}
