.navigation-item {
	display: contents;
}
.navigation-link {
	height: 3.5rem;
	line-height: 3.5rem;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	font-size: 1.25rem;
}

nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
	justify-content: center;
	background: none;
}

#mobile-navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 0.25rem;
}
#mobile-navigation-divider {
	width: calc(100% - 1.5rem);
	border-color: rgb(from var(--text) r g b / 0.3);
}

#mobile-navigation-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	background: none;
	transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
	background-color: rgba(255 255 255 0);
}

#mobile-navigation-toggle:active {
	background-color: rgba(255 255 255 0.1);
}

#mobile-navigation-toggle-icon {
	display: block;
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
}

.mobile-navigation-toggle-bar {
	display: block;
	position: absolute;
	width: 1.25rem;
	height: 0.225rem;
	background-color: var(--text);
	border-radius: 9999px;
	left: 50%;
	transition: transform 150ms ease-in-out, height 150ms ease-in-out,
		top 150ms ease-in-out, bottom 150ms ease-in-out;
}

.mobile-navigation-toggle-bar-1.step-1 {
	top: 0;
	transform: translateX(-50%);
}
.mobile-navigation-toggle-bar-1.step-2 {
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.mobile-navigation-toggle-bar-1.step-3 {
	top: 50%;
	height: 0.2rem;
	transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1.3);
}

.mobile-navigation-toggle-bar-2 {
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.mobile-navigation-toggle-bar-2.step-3 {
	display: none !important;
}

.mobile-navigation-toggle-bar-3.step-1 {
	bottom: 0;
	transform: translateX(-50%);
}
.mobile-navigation-toggle-bar-3.step-2 {
	bottom: 50%;
	transform: translateX(-50%) translateY(50%);
}
.mobile-navigation-toggle-bar-3.step-3 {
	bottom: 50%;
	height: 0.2rem;
	transform: translateX(-50%) translateY(50%) rotate(-45deg) scale(1.3);
}

#pc-navigation {
	display: none;
	justify-content: center;
	gap: 2rem;
}

#navigation-bar {
	height: 5rem;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	flex-shrink: 0;
}

#navigation-wrap {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: var(--nav-height, 5rem);
	overflow: hidden;
	flex-shrink: 0;
	background-color: rgb(from var(--bg) r g b / 0.8);
	backdrop-filter: blur(16px);
	transition: width 300ms ease-in-out, height 500ms ease-in-out,
		top 300ms ease-in-out, border-radius 300ms ease-in-out;
	width: 66%;
	top: 1rem;
	border-radius: 2.5rem;
}

@media (min-width: 768px) {
	#mobile-navigation-toggle,
	#mobile-navigation,
	#mobile-navigation-divider {
		display: none;
	}
	#pc-navigation {
		display: flex;
	}
	#navigation-wrap {
		height: 5rem;
		width: var(--nav-width, 42rem);
	}
}

#navigation-wrap.wide {
	width: 100%;
	top: 0;
	border-radius: 0;
	max-width: none;
}

#navigation-tools {
	display: flex;
	gap: 0.25rem;
}
