.common {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	font-size: 1rem;
	line-height: 1.5rem;
}

.button {
	composes: common;
	padding: 0.5rem 1rem;
	background-color: var(--primary);
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	border-radius: 1.5rem;
}

.button:hover {
	opacity: 0.9;
}

.wrap {
	position: relative;
	height: 3rem;
	margin-top: 2rem;
}

.page {
	composes: common;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
